body {
    box-sizing: border-box;
    background-color:rgb(203, 195, 188);
    overflow-x: hidden;
}

p {
        font-family: "Iceland", serif;
        font-weight: 400;
        font-style: normal;
      
}